.container {
    height: 100vh;
}

.list {
    text-align: center;
    border-radius: 0 6px 6px 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 2;
    left: 140%;
    background-color: #848484;
    color: #ffffff;
    width: 200px;
}

.list::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 2%;
    margin-left: -23px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #848484 transparent transparent;
    transform: scaleX(3);
}

.list > ul > li {
    margin: 10px;
}

.list > ul > li:hover {
    border: 1px solid white;
    border-radius: 5px;
}

.photo {
    position: relative;
}

.outline {
    border: 4px solid #848484;
    cursor: pointer;
    height: 65px;
    width: 45px;
    position: absolute;
    z-index: 1;
}

.hidden {
    border-color: transparent;
}

/* colors */
.border-dark-green {
    border-color: #4c843c;
}

.border-light-green {
    border-color: #a4d454;
}